html, body {
  box-sizing: border-box; /* this makes the page fit so you don't have to scroll a tiny bit  */
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator {
  background-color: lightgrey;
  padding: 10px;
  width: 300px;
  height: 440px;
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(4, 1fr);
  grid-gap: 4px;
  grid-template-areas: 
    "d d d d"
    "d d d d"
    ". . . o"
    "seven eight nine o"
    "four five six o"
    "one two three o"
    "zero . . o";
}

/*
    "d d d d"
    "d d d d"
    "c c . a"
    "7 8 9 s"
    "4 5 6 d"
    "1 2 3 m"
    "0 . e e";
}*/

.calculator > * {
  background-color: #3eaf76;
}

.display {
  grid-area: d;
}

.inputs {
  font-size: 2em;
}

.output {
  font-size: 2.3em;
}

.inputs,
.output {
  color: rgb(247, 247, 247);
  font-weight: bold;
  font-family: sans-serif;
  text-align: end;
}

.operator-buttons {
  grid-area: o;
}


/* this can't be good */
.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.zero {
  grid-area: zero;
}